function Cell.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push pointer 0
return
function Cell.getValue 0
push argument 0
pop pointer 0
push this 3
return
function Cell.setValue 0
push argument 0
pop pointer 0
push argument 1
pop this 3
push constant 0
return
function Cell.print 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push constant 1
sub
push this 1
push this 2
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 1
add
push this 1
push constant 1
add
push this 0
push this 2
add
push constant 2
sub
push this 1
push this 2
add
push constant 2
sub
call Screen.drawRectangle 4
pop temp 0
push this 3
push this 0
push this 1
call Display.printNumber 3
pop temp 0
push constant 100
call Sys.wait 1
pop temp 0
push constant 0
return
