function Table.init 2
push constant 128
pop static 0
push constant 0
pop static 1
push constant 256
pop static 2
push constant 64
pop static 3
push constant 16
call Array.new 1
pop static 4
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 4
lt
not
if-goto WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push constant 4
lt
not
if-goto WHILE_END1
push local 1
push constant 4
call Math.multiply 2
push local 0
add
push static 4
add
push static 3
push local 0
call Math.multiply 2
push static 0
add
push static 3
push local 1
call Math.multiply 2
push static 1
add
push static 3
push local 1
push constant 4
call Math.multiply 2
push local 0
add
call Cell.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Table.print 3
call Table.printFrame 0
pop temp 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 4
lt
not
if-goto WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push constant 4
lt
not
if-goto WHILE_END1
push local 1
push constant 4
call Math.multiply 2
push local 0
add
push static 4
add
pop pointer 1
push that 0
pop local 2
push local 2
call Cell.print 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Table.printFrame 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push static 0
push static 1
push static 0
push static 2
add
push constant 1
sub
push static 1
push static 2
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push static 0
push constant 1
add
push static 1
push constant 1
add
push static 0
push static 2
add
push constant 2
sub
push static 1
push static 2
add
push constant 2
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
